[Generic Important Files] @Kalkalash @AngriestBird @crocomoth @amtoj @TraianoGitHub @WarnerDev @KianGhk1530 @XCezor @MrP0tter
*.mod
CONTRIBUTING.md
README.md
LICENSE

[Documentation]

[MAP Changes] @AngriestBird @Kalkalash @KianGhk1530
map/*

[Defines] @crocomoth @KianGhk1530 @MrP0tter @Kalkalash
common/defines/*.lua

[Git Configurations] @AngriestBird @Kalkalash @KianGhk1530
.gitignore
.gitlab-ci.yml
.gitattributes
.gitlab/*
.github/*

[Tools] @AngriestBird @Kalkalash
tools/*

[pre-commit] @AngriestBird
.pre-commit-config.yaml

[CODEOWNERS] @AngriestBird @Kalkalash @KianGhk1530
CODEOWNERS
